body {
    background-color: #f5f5e6;
    margin: 0;
}

/* navigation bar */
ul {
    list-style-type: none;
    padding: 10px;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 20px;
    font-family: 'Martel', serif;
  }
  
  li a {
    display: block;
    color: #767171;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #A8D08D;
    color: #f5f5e6;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: #f5f5e6;
  }

/*headings*/
h1{
    color:  #8EAADB;
    font-size: 75px;
    font-family: 'Martel', serif;
    margin-left: 25%;
    margin-top: 10px;
    padding-bottom: 0%;
}

h2{
    color: #A8D08D;
    font-size: 30px;
    font-family: 'Martel', serif;
    margin-left: 25%;
}

h6{
    color: #bdb7b7;
    font-size: smaller;
    font-family: 'Martel', serif;
    margin-left: 25%;
    margin-top: -60px;
}

/*header*/
header{
    background-color: #A8D08D;
    font-size: 30px;
    color: #E7E6E6;
    font-family: 'Martel', serif;
    padding: 1%;
    text-align: center;
}

/*footer*/
footer{
    font-family:'Martel', serif;
    font-size: 15px;
    margin-left: 25%;
    color: #767171;
    padding-bottom: 5%;
}

/*paragraphs*/
p{
    margin-left: 25%;
    margin-right: 10%;
    font-size: 20px;
    color: #767171;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.lastparagraph{
    padding-bottom: 3%;
}

/*links*/
a.headinglink:link{
   color: #A8D08D;
}
a.headinglink:visited{
   color: #A8D08D;
}
a.headinglink:hover{
   color: #A8D08D;
}
a.headinglink:active{
   color: #A8D08D;
}

a.footerlink:link{
    color: lightslategray;
}
a.footerlink:visited{
   color: lightslategray;
}
a.footerlink:hover{
   color: lightslategray;
}
a.footerlink:active{
   color: lightslategray;
}


/*images*/
.ashimage{
    position: relative;
    top:-30px;
    }